[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
flake8 = "*"

[packages]
django = "*"
psycog2-binary = "*"
django-cripsy-forms = "*"
social-auth-app-django = "*"

[requires]
python_version = "3.7"
